<html>
    <head>
        <title>Store of records: edit genre.</title>

        <style>
            h1 {
                font-family: monospace;
                font-size: xxx-large;
                text-align: center;
            }

            a {
                font-family: Impact, sans-serif;
                font-size: xx-large;
            }

            div {
                display: flex;
                align-items: center;
                justify-content: center
            }

            table {
                border: 1px dashed;
                border-spacing: 0;
            }

            td {
                text-align: center;
                border: 1px dashed;
                align-items: center;
                justify-content: center;
                vertical-align: middle;
                padding: 15px;
            }

        </style>
    </head>
    <body>
        <div>
            <form method="post" action="/genres/save">
                <input type="hidden" name="id" value="{{genre.id}}"/>
                <input type="text" name="title" value="{{genre.title}}"/>
                <button type="submit">Save.</button>
            </form>
        </div>
    </body>
</html>