<html>
    <head>
        <title>Store of records.</title>

        <style>
            h1 {
                font-family: monospace;
                font-size: xxx-large;
                text-align: center;
            }

            a {
                font-family: Impact, sans-serif;
                font-size: xx-large;
            }
            div {
                display: flex;
                align-items: center;
                justify-content: center
            }
        </style>
    </head>

    <body>
        <h1>Welcome to records store!</h1>
        <div>
            <a href="/genres/">Genres</a>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <a href="/records/">Records</a>
        </div>
    </body>
</html>
